.NavbarItems{
    background:  #FDEBD3 ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;

}

.navbar-logo {
  color:#262223;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #262223;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #DDC6B6;
  background-color: #262223;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  color:#fff
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: sticky;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    opacity: 0;
    left: -100%;

    transition: all 0.5s ease-in-out ;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
  }

  .nav-menu.active {
    background: #ffff;
    opacity: 1;
    left: 0;
    transition: all 0.5s ease-in-out ;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.5rem;
  }

  .nav-links:hover {
    background-color: #262223;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translate(25%,50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon .fa-times {
    color: #262223;
    font-size: 2rem;
  }

  .menu-icon .fa-bars {
    color: #262223;
    font-size: 2rem;
  }

  Button {
    display: none;
  }
}

  

  