.app-grid#cms{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}

.app-grid#cms-six{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-inline-start: 10%;
    padding-inline-end: 10%; 
}

@media screen and (max-width: 750px) { 
    .app-grid#cms{
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline-start: 5%;
        padding-inline-end: 5%; 
        max-width: 90%;
    }
    .app-grid#cms-six{
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline-start: 5%;
        padding-inline-end: 5%; 
        max-width: 90%;
    }
    .app-grid#cms-five{
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline-start: 5%;
        padding-inline-end: 5%; 
        max-width: 90%;
    }
    
}

/*------------------------------------------------------------------------------------------------------*/

.linecolor {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linecolor h4{
    font-size: 40px;
    margin-top: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.linecolor p {
    font-size: 50px;
    color: #262223;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem auto;
    margin-left: 5rem;
    margin-right: 5rem;
}

.type_color {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.type_color p{
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #262223;
    color: #DDC6B6;
    padding: 5px;
} 

@media screen and (max-width: 960px) {
      
    .linecolor p {
        font-size: 50px;
    }
    .type_color p{
        font-size: 30px;
    }

}

.informdescription p{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}

.informdescription {
    margin-bottom: 10px;
}


/*------------------------------------------------------------------------------------------------------*/

.etc{
    background-color: #262223;
    margin: 1rem auto;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.etc_topic h1{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
}

.etc p{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.etc .red p{
    color: #DDC6B6	;
}

/*------------------------------------------------------------------------------------------------------*/

.etc#candoit {
    display:block;
    background: #262223;
    overflow:auto;
}
.candoit{
    width: 50%;
    text-align: center;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
    padding-bottom: 2%;
}

.etc#candoit .red {
    float: right;
}

.etc#candoit .white {
    float: left;
}

.border-right {
    border-right: 3px outset #f3f3f3;
}

@media screen and (max-width: 960px) {   
    .candoit{
        padding-inline-start: 5%;
        padding-inline-end: 5%;
    }
}

/*------------------------------------------------------------------------------------------------------*/

.etc#process {
    background-color: #f3f3f3;

}

.etc_topic#process h1{
    font-weight: 500;
    color: #262223;
}

.process-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    row-gap: 16px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.process{
    text-align: center;
}

.process i{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #262223;
    border-radius: 50%;
    padding: 20px;   
    margin-bottom: 10px;
}

.process p{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: #ffff;
    color: #262223;
    font-size: 25px;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 10px;
}

.process h4{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    color: #262223;
    margin-top: 10px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    font-weight: 500;   
}

.process h4#underline{
    display: inline;
    color: #262223;
    background-color: #DDC6B6;
    padding: auto;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}



@media screen and (max-width: 1200px) {  
    .etc {
        margin-left: 10%;
        margin-right: 10%;
    }  

}

@media screen and (max-width: 960px) {  
    .etc {
        margin-left: 5%;
        margin-right: 5%;
    }  
    .process-grid {
        grid-template-columns: 1fr ;
        margin-left: 15%;
        margin-right: 15%;
    }
    .process i {
        display: none;
    }

}

@media screen and (max-width: 500px) {  
    .process-grid {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/*------------------------------------------------------------------------------------------------------*/

.pic_scale {
    text-align: left;  
    max-width: 35%;
    padding-inline-start: 10%;
}

.table_edit {
    margin-top: 30px;
    float: right; 
    padding-inline-end: 10%; 
}
  
table{
    font-size: 16px;
    transition: 0.5s;
    margin-bottom: 3rem;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

table  tr{
    text-align: center;
}
table  tr.head{
    background-color: #262223;
    color: #DDC6B6;
    font-size: 25px;
}
table th, table td {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 100;
    padding: 25px 70px; 
}
table th{
    font-family: 'Prompt', sans-serif;
}
    
table tr:nth-child(even) {
    color: #262223;
    background-color: #f2f2f2;
}

.text_bottom_table p{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    color: #31675C;
}

.text_bottom_table {
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    margin-top: -10px;
    background-color: #c7e4de;
}

@media screen and (max-width: 1900px) {
    .pic_scale {
        max-width: 40%;
        padding-inline-start: 10%;
    }
    .table_edit {
        padding-inline-end: 10%; 
    }
    table  tr.head{
        font-size: 20px;
    } 
    table th, table td {
        padding: 25px 60px; 
    }
}

@media screen and (max-width: 1600px) {
    table th, table td {
        padding: 25px 80px; 
    }
    .pic_scale {
        max-width: 35%;
    }
}

@media screen and (max-width: 1400px) {
    table th, table td {
        padding: 20px 60px; 
    }
    .pic_scale {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 1200px) { 
    .pic_scale {
        max-width: 25%;
        padding-inline-start: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    } 
    .table_edit {
        float: none;
        padding-inline-end: 0%;
        margin-top: 0;
    }
    table  tr.head{
        font-size: 25px;
    }
    table th, table td {
        padding: 20px 20px; 
    }
    .text_bottom_table {
        margin-left: 10%;
        margin-right: 10%;
    }
    table{
        font-size: 20px;
        width: 80%; 
        margin-left:10%; 
        margin-right:10%;
    }
}

@media screen and (max-width: 960px) {
    .text_bottom_table {
        margin-left: 5%;
        margin-right: 5%;
    }
    table{
        width: 90%; 
        margin-left:5%; 
        margin-right:5%;
    }
}

@media screen and (max-width: 750px) {
    .pic_scale {
        max-width: 50%;
    }
}


/*------------------------------------------------------------------------------------------------------*/

hr.dashed {
    border-top: 3px double #DDC6B6;
    margin-left: 10%;
    margin-right: 10%;
} 

/*------------------------------------------------------------------------------------------------------*/
  
.contact {
    text-align: center;
}

.contact i{
    font-size: 30px;
    color: #DDC6B6;
    background-color: #262223;
    border-radius: 50%;
    padding: 20px;   
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.queue {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.queue a{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    background-color: #DDC6B6;
    color: #262223;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2rem;
    width: 20%;
    padding: 15px 60px;
}

.queue a:hover {
    background-color: #262223;
    color: #DDC6B6;
    transition: all 0.3s ease-out ;
}

.queue i{
    font-size: 80px;
    padding: 20px;
    color: #DDC6B6;
}

.queue i.light{
    padding: 0px;
    margin-left: -20px;
    margin-right: -20px;
    color: #ddc6b679;
}

@media screen and (max-width: 1500px) {
    .queue a{
        width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .queue a{
        width: 30%;
    }
}
@media screen and (max-width: 960px) {
    .queue a{
        font-size: 20px;
        width: 50%;
    }
    .queue i{
        font-size: 50px;
    }
}