.app-grid#cms{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}

.app-grid#cms-six{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-inline-start: 10%;
    padding-inline-end: 10%; 

}

@media screen and (max-width: 960px) { 

    .app-grid#cms-six{
        padding-inline-start: 5%;
        padding-inline-end: 5%; 
    }
    
}

@media screen and (max-width: 750px) { 

    .app-grid#cms-six{
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline-start: 0%;
        padding-inline-end: 0%; 
        max-width: 90%;
    }
    
}

/*------------------------------------------------------------------------------------------------------*/

.linecolor {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linecolor p {
    font-size: 50px;
    color: var(--color-black);
    padding: 0.5rem;
    text-align: center;
    margin: 1rem auto;
    margin-left: 5rem;
    margin-right: 5rem;
}

.informdescription p{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}

@media screen and (max-width: 960px) {

    .linecolor p {
        font-size: 50px;
    } 

}

/*------------------------------------------------------------------------------------------------------*/

.etc{
    background-color: var(--color-bg);
    margin: 1rem auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

}

.etc_topic h1{
    font-weight: 500;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: var(--color-black);
}

.etc p{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-black);
}

.etc .red p{
    color: var(--color-black)	;
}

/*------------------------------------------------------------------------------------------------------*/

.etc#candoit {
    display:block;
    overflow:auto;
    background-color: var(--color-pink);
}
.candoit{
    width: 45%;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 20px;
    padding: 20px 50px;
}

.etc#candoit .red {
    float: right;
    padding-inline-end: 20%;
    background-color: var(--color-white);
    margin: 0 50px 0 0;
}

.etc#candoit .white {
    float: left;
    padding-inline-start: 15%;
    background-color: var(--color-white);
    margin: 0 0 0 50px;
}

.etc#candoit h1{
    color: var(--color-black)	;
}
.etc#candoit .red p{
    color: var(--color-black)	;
}
.etc#candoit .white p{
    color: var(--color-black)	;
}

@media screen and (max-width: 750px) {   
    
    .etc#candoit .red {
        padding-inline-end: 10%;
    }

    .etc#candoit .white {
        padding-inline-start: 10%;
    }
    
}

/*------------------------------------------------------------------------------------------------------*/

.briefform p{
    color: var(--color-black);
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}
.briefform h4#underline{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 100;
    display: inline;
    color: var(--color-black);
    background-color: var(--color-bg);
    padding: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

@media screen and (max-width: 1500px) {   
    
    .briefform p{
        padding-inline-start: 0%;
        padding-inline-end: 0%;
    }
    
}

/*------------------------------------------------------------------------------------------------------*/

.etc#process {
    background-color: var(--color-bg);
}

.etc_topic#process h1{
    color: var(--color-black);
}

.process-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    row-gap: 16px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.process{
    text-align: center;
}

.process i{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: var(--color-black);
    border-radius: 50%;
    padding: 20px;   
    margin-bottom: 10px;
}

.process p{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 25px;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 10px;
}

.process h4{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    color: var(--color-black);
    margin-top: 10px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    font-weight: 500;   
}

.process h4#underline{
    display: inline;
    color: var(--color-black);
    background-color: var(--color-pink);
    padding: auto;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}



@media screen and (max-width: 1200px) {  
    .etc {
        margin-left: 10%;
        margin-right: 10%;
    }  

}

@media screen and (max-width: 960px) {  
    .etc {
        margin-left: 5%;
        margin-right: 5%;
    }  
    .process-grid {
        grid-template-columns: 1fr ;
        margin-left: 15%;
        margin-right: 15%;
    }
    .process i {
        display: none;
    }

}

@media screen and (max-width: 500px) {  
    .process-grid {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/*------------------------------------------------------------------------------------------------------*/

.pic_scale {
    text-align: left;  
    max-width: 35%;
    padding-inline-start: 10%;
}

.table_edit {
    margin-top: 30px;
    float: right; 
    padding-inline-end: 10%; 
}
  
table{
    font-size: 16px;
    transition: 0.5s;
    margin-bottom: 3rem;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    box-shadow: 0 0 20px var(--color-bg);
}

table  tr{
    text-align: center;
}
table  tr.head{
    background-color: var(--color-black);
    color: var(--color-dashed);
    font-size: 25px;
}
table th, table td {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 100;
    padding: 25px 70px; 
    
}
table th{
    font-family: 'Prompt', sans-serif;
}
    
table tr:nth-child(even) {
    color: var(--color-black);
    background-color: var(--color-bg);
}
table tr{
    color: var(--color-black);
}

.text_bottom_table p{
    font-family: 'Prompt', sans-serif;
    text-align: left;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    color: var(--color-brown);
}

.text_bottom_table {
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    margin-top: -10px;
    background-color: var(--color-bg);
}

@media screen and (max-width: 1900px) {
    .pic_scale {
        max-width: 40%;
        padding-inline-start: 10%;
    }
    .table_edit {
        padding-inline-end: 10%; 
    }
    table  tr.head{
        font-size: 20px;
    } 
    table th, table td {
        padding: 25px 60px; 
    }
}

@media screen and (max-width: 1600px) {
    table th, table td {
        padding: 25px 80px; 
    }
    .pic_scale {
        max-width: 35%;
    }
}

@media screen and (max-width: 1400px) {
    table th, table td {
        padding: 20px 60px; 
    }
    .pic_scale {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 1200px) { 
    .pic_scale {
        max-width: 25%;
        padding-inline-start: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    } 
    .table_edit {
        float: none;
        padding-inline-end: 0%;
        margin-top: 0;
    }
    table  tr.head{
        font-size: 25px;
    }
    table th, table td {
        padding: 20px 20px; 
    }
    .text_bottom_table {
        margin-left: 10%;
        margin-right: 10%;
    }
    table{
        font-size: 20px;
        width: 80%; 
        margin-left:10%; 
        margin-right:10%;
    }
}

@media screen and (max-width: 960px) {
    .text_bottom_table {
        margin-left: 5%;
        margin-right: 5%;
    }
    table{
        width: 90%; 
        margin-left:5%; 
        margin-right:5%;
        table-layout: fixed;

    }
}

@media screen and (max-width: 750px) {
    .pic_scale {
        max-width: 50%;
    }
}


/*------------------------------------------------------------------------------------------------------*/

hr.dashed {
    border-top: 3px double var(--color-dashed);
    margin-left: 10%;
    margin-right: 10%;
} 

hr.dashed#etc {
    border-top: 1px inset var(--color-pink);
    margin-left: 5%;
    margin-right: 5%;
} 

@media screen and (max-width: 960px) {
    hr.dashed {
        margin-left: 5%;
        margin-right: 5%;
    } 
}

/*------------------------------------------------------------------------------------------------------*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}

.button a{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    background-color: var(--color-pink);
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    border-radius: 2rem;
    width: auto;
    padding: 15px 60px;
}

.button a#buttonprice{
    margin-right: 30px;
}

.button a:hover {
    background-color: var(--color-black);
    color: var(--color-pink);
    transition: all 0.3s ease-out ;
}

@media screen and (max-width: 1500px) {
    .button a{
        width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .button a{
        width: 30%;
    }
}
@media screen and (max-width: 750px) {
    .button a{
        font-size: 20px;
        width: 50%;
    }

}