.profilepic img{
    border-radius: 50%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 300px;
    height: auto;
    padding: 30px;
    margin-top: 20px;
}

.about-me {
    text-align: center;
}

.about-me h4{
    font-size: 40px;
}

.about-me p{
    font-size: 20px;
    margin-top: 20px;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}

.about-me i {
    font-size: 30px;
    padding: 10px;
    color:#26222365;
}

  