.tableforqueue {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}

tr p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10rem;
}

#left {
    text-align: left;
}

p#type {
    background-color: #f9e0dc;
    color: #595a5c;
}
p#scale {
    background-color: #807c7d25;
    color: #595a5c;
}

p#status {
    padding: 10px;
    padding-top: 10px;
    background-color: #595a5c;
    color: #f9e0dc;
}

@media screen and (max-width: 1250px) {
 
    .tableforqueue {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #left {
        text-align: center;
    }

    #queue {
        display: none;
    }
}
