.pic-post {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-post-bg {
    background-color: rgba(0, 0, 0,0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pic-post-content {
    position: relative;
    max-width: 1200px;
    background-color: black;
}

.pic-post-content img {
    display: block;
    max-width: 100;
    max-height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-out;
}

.pic-post-content h4 {
    color: white;
    text-align: center;
    padding: 10px;
    display: none;
}

@media screen and (max-width: 960px) {
    
    .pic-post-content img {
        display: block;
        max-width: 100;
        max-height: calc(100vh - 300px);
        margin-left: auto;
        margin-right: auto;
        transition: all 0.5s ease-out;
    }

}
